@font-face {
    font-family: Poppins;
    src:
        local("Poppins-Regular"),
        url("../../shared/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat-Regular"),
        url("../../shared/assets/fonts/Montserrat-Regular.ttf");
}
